
/*los css se colocan dentro de los div , class(como las imagenes) ,img ,h1, p ,etc. (osea se coloca dentor de lo que queramos modificar*/
.centrado{
    text-align: center;
}

.creepyborde{
    border-radius: 20px;       /* trata de hacer un borde dependiendo del color del los cuadros del inicio */
    background: rgba(143, 2, 2, 0.815);
    padding: 20px;
    width: auto;
    height: auto;
}

.creepyborde2{
    border-radius: 20px;       /* trata de hacer un borde dependiendo del color del los cuadros del inicio */
    background: rgba(39, 34, 34, 0.829);
    padding: 20px;
    width: auto;
    height: auto;
}

.creepyborde1{
       /* trata de hacer un borde dependiendo del color del los cuadros del inicio */
    background: rgba(134, 2, 2, 0.712);
    border-radius: 30px;
}



.logo_menu{
    width: 100%;
    max-width: 180px;
    height: 100%;
    max-height: 180px;

}


/* a{
    color: rgb(0, 0, 0); } /*con esto modifico el color de todos los codigos  A*/
   

.espaciado{
    padding-top: 16px; /*espacio entre dos cosas*/
}

.tamañaCL{
    color: black;  /*modifica el color de la letra en colaboradores*/
    font-size: 25px; /*modifica el tamaño*/
}


#img_arre { /*modifica el tamaño de la imagen en la carta*/
    width: 100%;
    max-width: 300px;
    height: 100%;
    max-height: 300px;
    
}

.body1{
    background-image: url('../fondo/lost-places-776297__340.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

.body2{
    background-image: url('../fondo/CreepypastaBackground.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}