
/*los css se colocan dentro de los div , class(como las imagenes) ,img ,h1, p ,etc. (osea se coloca dentor de lo que queramos modificar*/
.centrado{
    text-align: center;
}

.creepyborde{
    border-radius: 20px;       /* trata de hacer un borde dependiendo del color del los cuadros del inicio */
    background: rgba(99, 14, 14, 0.712);
    padding: 20px;
    width: auto;
    height: auto;
}

.creepyborde1{
       /* trata de hacer un borde dependiendo del color del los cuadros del inicio */
    background: rgba(99, 14, 14, 0.712);
    border-radius: 30px;
}



.logo_menu{
    width: 100%;
    max-width: 140px;
    height: 100%;
    max-height: 40px;

}


a{
    color: crimson;  /*con esto modifico el color de todos los codigos  A*/
   
}

.espaciado{
    padding-top: 16px; /*espacio entre dos cosas*/
}

.tamañaCL{
    color: black;  /*modifica el color de la letra en colaboradores*/
    font-size: 25px; /*modifica el tamaño*/
}


#img_arre { /*modifica el tamaño de la imagen en la carta*/
   /* height: 230px;
    width: 230px;*/
    width: 100%;
    max-width: 230px;
    
}








